*{
    margin: 0;
    padding: 0;
    border: 1px dashed;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #0A122A;
    color: #F9F9F9;
}


#main-section {
    background-color: #6f686d;
    margin: auto;
    margin-bottom: 20px;
}

#n-title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    text-align: center;
    background-color: #0A122A;
    padding: 15px 30px;
    border-radius: 15px;
    margin-left: 15%;
    margin-right: 15%;
}

/*.s1 {
    display: inline-block;
}*/
#profile-container {
    margin-left: 2%;
    max-width: 40%;
}
#img {
    border-radius: 30%;
}
#personal-description {
    max-width: 40%;
}

.emphasis1{
    text-decoration: underline;
    color: #38A3A5;
}

.emphasis2{
    text-shadow: #6f686d;
    text-decoration: underline;
}

.hd-sk{
    font-size: 1.2em;
    background-color: #F9F9F9;
}

.st-sk{
    font-size: 1.4em;
    background-color: #F9F9F9;
}

